body{
	background-color: #FEB623;
	margin: 0;
		font-family: Futura, sans-serif;
		color: white; 
		font-size: 20px;
		line-height: 40px;
		text-align: center;
margin-top: 20px;

}

header{
	font-family: Futura;
	color: white;
	font-size: 80px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*header styles */

h1, h2 {
	font-family: 'Press Start 2P', cursive;
}

header h1{
	color: white;
	font-size: 50px;
}

header img {    border-radius: 270px;
    width: 300px;
    border: 10px solid white;
}

main{

}
main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #e70c19;
	margin: 40px 0px 10px;
}
a{
	color: #e70c19; 

}
a:hover{
	color: white;
	background-color: #483a94;
}

footer{
	color: white;
margin-top: 100px;	padding: 250px;
}

footer p {
	margin: 0px;
}
footer a {
	color: white;
}
footer a:hover {
	opacity: .5;
	background-color: transparent;
}
p.caption{
	color: #999999;
font-style: italic;
margin-top: 0;}